/* CSS Document */
/* CSS Para el body aqui tratamos de quitar margenes */

* {
margin: 0;
padding: 0;
}
html, body {
position:fixed !important;

position:absolute;

top:0px;

right:0px;

bottom:0px;

left:0px;
width: 100%;
}
::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}
::-moz-scrollbar {
    -moz-width: 12px;
    -moz-border-radius: 10px;
}
	 
::-webkit-scrollbar-track {
	-webkit-box-shadow: #000000;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-moz-scrollbar-track {
	-moz-box-shadow: #000000;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
}

::-webkit-scrollbar-button 
{
	padding-bottom: 10px;

}
::-moz-scrollbar-button 
{
	-moz-padding-bottom: 10px;

}

::-webkit-scrollbar-track-piece 
{
	border-top-left-radius: 50px 150px; 
	border-bottom-left-radius: 50px 150px; 
	background: #000000;	
	-webkit-box-shadow: inset 0 0 5px rgba(31,87,148,0.4); 

}
::-moz-scrollbar-track-piece 
{
	-moz-border-top-left-radius: 50px 150px; 
	-moz-border-bottom-left-radius: 50px 150px;
	-moz-background: #000000;	
	-moz-box-shadow: inset 0 0 5px rgba(31,87,148,0.4); 

}
	 
::-webkit-scrollbar-thumb {
	border-top-left-radius: 50px 150px; 
	border-bottom-left-radius: 50px 150px; 
	background: #000000;
	-webkit-box-shadow: inset 0 0 15px rgba(31,87,148,1); 
	    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;

}
::-moz-scrollbar-thumb {
	-moz-border-top-left-radius: 50px 150px; 
	-moz-border-bottom-left-radius: 50px 150px; 
	-moz-background: #000000;
	-moz--box-shadow: inset 0 0 10px rgba(31,87,148,1); 
	-moz-transition:all 0.3s linear;
    -moz--transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;

}

::-webkit-scrollbar-thumb:hover {
	border-top-left-radius: 50px 150px; 
	border-bottom-left-radius: 50px 150px; 
	background: #000000;
	-webkit-box-shadow: inset 0 0 10px rgba(159,255,253,1); 
}
::-moz-scrollbar-thumb:hover {
	-moz-border-top-right-radius: 50px 150px; 
	-moz-border-bottom-right-radius: 50px 150px; 
	-moz-background: #000000;
	-moz-box-shadow: inset 0 0 10px rgba(159,255,253,1); 
}
#body_layout
{
width: 100%;
padding:0px;
margin :0 auto;
background: rgb(0,0,0); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(16,13,96,1) 34%, rgba(0,0,0,1) 56%, rgba(16,13,96,1) 89%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(34%,rgba(16,13,96,1)), color-stop(56%,rgba(0,0,0,1)), color-stop(89%,rgba(16,13,96,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(16,13,96,1) 34%,rgba(0,0,0,1) 56%,rgba(16,13,96,1) 89%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(16,13,96,1) 34%,rgba(0,0,0,1) 56%,rgba(16,13,96,1) 89%,rgba(255,255,255,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(16,13,96,1) 34%,rgba(0,0,0,1) 56%,rgba(16,13,96,1) 89%,rgba(255,255,255,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(16,13,96,1) 34%,rgba(0,0,0,1) 56%,rgba(16,13,96,1) 89%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.layout_header
{	
position: absolute;
top:0px;
width: 100%;
margin   :0px auto; 
min-height       :40px;
height       :40px;
text-align   :center;
background   : #fff; 
border: solid #FFFFFF 1px;
background: #324664; /* Old browsers */
background: -moz-linear-gradient(top,  #324664 0%, #3f587d 11%, #47648e 21%, #3e587d 32%, #374d6c 39%, #101721 68%, #05070b 79%, #000000 86%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#324664), color-stop(11%,#3f587d), color-stop(21%,#47648e), color-stop(32%,#3e587d), color-stop(39%,#374d6c), color-stop(68%,#101721), color-stop(79%,#05070b), color-stop(86%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324664', endColorstr='#000000',GradientType=0 );
}
.layout_title{
	width: 100%;
}
.layout_title h1{
	color: #fff;
	line-height: 9px;
	text-shadow: 0px 0px 8px #000;
	font-size: 22px;
	display: inline-block;
}
.layout_title h2{
color      : #fff;
display    : inline-block;
font-size  : 13px;
position   : absolute;
right      : 20px;
text-shadow: 0px 0px 8px #000;
top        :13px;
}
/* CSS para la tabla que subre el layout completo */
/* CSS para el banner */
.layout_nav
{	
position: fixed;
left: 0px;
top: -2px;
bottom: -2px;
width         :10%;
border-right: 3px solid #fff;
padding       :10px;
height        :auto;
max-width     :10px;
background: rgba(255,255,255,0);
box-shadow: 0px 0px 10px rgba(255,255,255,1);
z-index: 1;
vertical-align: middle;
opacity: 1;
overflow: hidden;
color: rgba(255,255,255,0);
	    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
}
.layout_nav a
{
	color: rgba(255,255,255,1);
}
.layout_nav a:hover
{
	color: rgba(255,255,255,1);
}
.layout_nav:hover
{	
opacity: 1;
color: #10083c;
max-width     :140px;
background: #001;
border-right: 3px solid #10083c;
}
.layout_contenido
{
border       :3px solid #10083c;
border-left: 0px;
border-right: 0px;
height       :auto;
overflow     : auto;
margin: 0 auto;
background: rgba(255,255,255,0.9);
padding: 25px 50px;
position: absolute;
top:40px;
bottom: 32px;
width: auto;
left: 0px;
right: 0px;

}
.layout_contenido table,div
{
	margin: 0 auto; 
	width: auto;
}
.layout_contenido section
{
	margin: 0 auto; 
	max-width: 1024;
}
.layout_footer
{
background: #324664; /* Old browsers */
background: -moz-linear-gradient(top,  #324664 0%, #3f587d 11%, #47648e 21%, #3e587d 32%, #374d6c 39%, #101721 68%, #05070b 79%, #000000 86%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#324664), color-stop(11%,#3f587d), color-stop(21%,#47648e), color-stop(32%,#3e587d), color-stop(39%,#374d6c), color-stop(68%,#101721), color-stop(79%,#05070b), color-stop(86%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324664', endColorstr='#000000',GradientType=0 );
color        :rgba(255,255,255,1);
min-height       :30px;
height       :30px;
text-align   :center;
line-height  :30px;
clear        :both !important;
margin       :0px auto;
border: solid #FFFFFF 1px;
position: absolute;
bottom:0px;
width: 100%;
}

.documento
{
	margin: auto;
}

