@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* CSS Document */
/* CSS Para el body aqui tratamos de quitar margenes */

* {
margin: 0;
padding: 0;
}
html, body {
font-size: 16px;
position:fixed !important;

position:absolute;

top:0px;

right:0px;

bottom:0px;

left:0px;
width: 100%;
}
::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}
::-moz-scrollbar {
    -moz-width: 12px;
    -moz-border-radius: 10px;
}
	 
::-webkit-scrollbar-track {
	-webkit-box-shadow: #000000;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-moz-scrollbar-track {
	-moz-box-shadow: #000000;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
}

::-webkit-scrollbar-button 
{
	padding-bottom: 10px;

}
::-moz-scrollbar-button 
{
	-moz-padding-bottom: 10px;

}

::-webkit-scrollbar-track-piece 
{
	border-top-left-radius: 50px 150px; 
	border-bottom-left-radius: 50px 150px; 
	background: #000000;	
	-webkit-box-shadow: inset 0 0 5px rgba(31,87,148,0.4); 

}
::-moz-scrollbar-track-piece 
{
	-moz-border-top-left-radius: 50px 150px; 
	-moz-border-bottom-left-radius: 50px 150px;
	-moz-background: #000000;	
	-moz-box-shadow: inset 0 0 5px rgba(31,87,148,0.4); 

}
	 
::-webkit-scrollbar-thumb {
	border-top-left-radius: 50px 150px; 
	border-bottom-left-radius: 50px 150px; 
	background: #000000;
	-webkit-box-shadow: inset 0 0 15px rgba(31,87,148,1); 
	    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;

}
::-moz-scrollbar-thumb {
	-moz-border-top-left-radius: 50px 150px; 
	-moz-border-bottom-left-radius: 50px 150px; 
	-moz-background: #000000;
	-moz--box-shadow: inset 0 0 10px rgba(31,87,148,1); 
	-moz-transition:all 0.3s linear;
    -moz--transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;

}

::-webkit-scrollbar-thumb:hover {
	border-top-left-radius: 50px 150px; 
	border-bottom-left-radius: 50px 150px; 
	background: #000000;
	-webkit-box-shadow: inset 0 0 10px rgba(159,255,253,1); 
}
::-moz-scrollbar-thumb:hover {
	-moz-border-top-right-radius: 50px 150px; 
	-moz-border-bottom-right-radius: 50px 150px; 
	-moz-background: #000000;
	-moz-box-shadow: inset 0 0 10px rgba(159,255,253,1); 
}
#body_layout
{
width: 100%;
padding:0px;
margin :0 auto;
}
.layout_header
{	
	width: 100%;
	margin   :0px auto; 
	background: rgb(44,63,89); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(44,63,89,1) 0%, rgba(67,95,132,1) 22%, rgba(76,108,153,1) 27%, rgba(76,108,153,1) 46%, rgba(72,102,140,1) 65%, rgba(16,23,33,1) 85%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,63,89,1)), color-stop(22%,rgba(67,95,132,1)), color-stop(27%,rgba(76,108,153,1)), color-stop(46%,rgba(76,108,153,1)), color-stop(65%,rgba(72,102,140,1)), color-stop(85%,rgba(16,23,33,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,63,89,1) 0%,rgba(67,95,132,1) 22%,rgba(76,108,153,1) 27%,rgba(76,108,153,1) 46%,rgba(72,102,140,1) 65%,rgba(16,23,33,1) 85%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,63,89,1) 0%,rgba(67,95,132,1) 22%,rgba(76,108,153,1) 27%,rgba(76,108,153,1) 46%,rgba(72,102,140,1) 65%,rgba(16,23,33,1) 85%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,63,89,1) 0%,rgba(67,95,132,1) 22%,rgba(76,108,153,1) 27%,rgba(76,108,153,1) 46%,rgba(72,102,140,1) 65%,rgba(16,23,33,1) 85%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(44,63,89,1) 0%,rgba(67,95,132,1) 22%,rgba(76,108,153,1) 27%,rgba(76,108,153,1) 46%,rgba(72,102,140,1) 65%,rgba(16,23,33,1) 85%,rgba(0,0,0,1) 100%); /* W3C */
	position: absolute;
	text-align: center;
	z-index: 2;
}
.layout_header div
{
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.layout_header .layout_title
{
	display: inline-block;
	vertical-align: top;
	width: auto;
	padding: 0px 15px;
}
.layout_header #layout_menu_inicio
{
	display: inline-block;
	float: right;
	font-size: 15px;
	position: relative;
}
.layout_header #layout_menu_inicio #logo_skew_left
{
	display: inline-block;
	background: #bcbcbc; /* Old browsers */
	background: -moz-linear-gradient(top,  #bcbcbc 0%, #efefef 50%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(50%,#efefef), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
	border-left: 1px solid #222;
	border-bottom:#000;
	padding: 12px 0px;
	margin: 0px;
	position: absolute;
	left: -13px;
	-webkit-transform:skew(200deg, 0deg);
	top: 0px;
	vertical-align: top;
	width: 20px;
}
.layout_header #layout_menu_inicio #logo_skew_left:hover
{
	background: #bcbcbc;
	background: -moz-linear-gradient(top,  #bcbcbc 0%, #efefef 50%, #bcbcbc 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(50%,#efefef), color-stop(100%,#bcbcbc))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%)!important; /* IE10+ */
	background: linear-gradient(to bottom,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=0 )!important; /* IE6-9 */
}
.layout_header #layout_menu_inicio nav ul
{
	list-style: none;
	background: #bcbcbc; /* Old browsers */
	background: -moz-linear-gradient(top,  #bcbcbc 0%, #efefef 50%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(50%,#efefef), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */

}
.layout_header #layout_menu_inicio nav ul li
{	
	margin: 0px -2px;
	display: inline-block;
	border-left: 1px solid rgba(34,34,102,0.6);
	border-right: 1px solid rgba(34,34,102,0.6);
	z-index: 2;
}
.layout_header #layout_menu_inicio nav ul li a
{	
	font-size: 15px;
	color: #226;
	cursor: pointer;
	display: block;
	padding: 12px 10px;
	z-index: 2;
}
.layout_header #layout_menu_inicio nav ul li a:hover 
{	
color: #eee; 
background   : #fff; 
background: #324664; /* Old browsers */
background: -moz-linear-gradient(top,  #324664 0%, #3f587d 11%, #47648e 21%, #3e587d 32%, #374d6c 39%, #101721 68%, #05070b 79%, #000000 86%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#324664), color-stop(11%,#3f587d), color-stop(21%,#47648e), color-stop(32%,#3e587d), color-stop(39%,#374d6c), color-stop(68%,#101721), color-stop(79%,#05070b), color-stop(86%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324664', endColorstr='#000000',GradientType=0 );
}.layout_header #layout_menu_inicio #primer_a_menu_inicio
{

}
.layout_header #layout_menu_inicio #primer_a_menu_inicio:hover #logo_skew_left
{	
background: #fff; 
background: #324664; /* Old browsers */
background: -moz-linear-gradient(top,  #324664 0%, #3f587d 11%, #47648e 21%, #3e587d 32%, #374d6c 39%, #101721 68%, #05070b 79%, #000000 86%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#324664), color-stop(11%,#3f587d), color-stop(21%,#47648e), color-stop(32%,#3e587d), color-stop(39%,#374d6c), color-stop(68%,#101721), color-stop(79%,#05070b), color-stop(86%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324664', endColorstr='#000000',GradientType=0 );
border-left: 1px solid rgba(255,255,255,0.5);
}
.layout_header #logo
{	position: relative;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	float: left;
  background: #bcbcbc; /* Old browsers */
  background: -moz-linear-gradient(top,  #bcbcbc 0%, #efefef 50%, #bcbcbc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(50%,#efefef), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
}
.layout_header #logo figure
{
	display: inline-block;
}
.layout_header #logo figure img
{
	display: inline-block;
	margin: 4px 0px 1px 5px;
	transition:all 1s linear;
}
.layout_header #logo figure img:hover
{
-webkit-transform: rotate(380deg);
}
.layout_header #logo figure figcaption
{
	color: #eee;
	display: inline-block;
	font-family: Bodoni MT Black;
	font-size: 28px;
	font-style: italic;
	font-weight: 900;
	line-height: 17px;
	margin: 0px 15px 0px 0px;
	padding: 10px 0px;
	text-shadow: 0px 0px 8px #000;
	vertical-align: top;
}
.layout_header #logo #logo_skew_right
{
	display: inline-block;
	background: #bcbcbc; /* Old browsers */
	background: -moz-linear-gradient(top,  #bcbcbc 0%, #efefef 50%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(50%,#efefef), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bcbcbc 0%,#efefef 50%,#bcbcbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
	border-right: 1px solid #222;
	font-size: 28px;
	font-style: italic;
	font-weight: 900;
	line-height: 17px;
	padding: 12px 0px 12px 0px ;
	margin: 0px;
	position: absolute;
	right: -10px;
	-webkit-transform:skew(340deg, 0deg);
	top: 0px;
	vertical-align: top;
	width: 20px;
}

.layout_header #layout_usuario
{
	display: inline-block;
	float: right;
	vertical-align: top;
	color: #ddd;
	margin: 12px 10px;
}
.layout_header #layout_usuario span
{

}
.layout_title h1{
	color: #fff;
	text-shadow: 0px 0px 8px #000;
	font-size: 18px;
	line-height: 17px;
}
.layout_title h2{
color      : #fff;
display    : inline-block;
font-size  : 13px;
position   : absolute;
right      : 20px;
text-shadow: 0px 0px 8px #000;
top        :13px;
}
/* CSS para la tabla que subre el layout completo */
/* CSS para el banner */
.layout_nav
{	
	background: #fff;
	border-right: 3px solid #337;
	bottom: 29px;
	height        :auto;
	left: 0px;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	top: 40px;
	vertical-align: top;
	width         :100px;
	z-index: 1;
	transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
}
.layout_nav #menuTitle
{
	background: rgb(44,63,89); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(44,63,89,1) 0%, rgba(67,95,132,1) 22%, rgba(76,108,153,1) 27%, rgba(76,108,153,1) 46%, rgba(72,102,140,1) 65%, rgba(16,23,33,1) 85%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,63,89,1)), color-stop(22%,rgba(67,95,132,1)), color-stop(27%,rgba(76,108,153,1)), color-stop(46%,rgba(76,108,153,1)), color-stop(65%,rgba(72,102,140,1)), color-stop(85%,rgba(16,23,33,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,63,89,1) 0%,rgba(67,95,132,1) 22%,rgba(76,108,153,1) 27%,rgba(76,108,153,1) 46%,rgba(72,102,140,1) 65%,rgba(16,23,33,1) 85%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,63,89,1) 0%,rgba(67,95,132,1) 22%,rgba(76,108,153,1) 27%,rgba(76,108,153,1) 46%,rgba(72,102,140,1) 65%,rgba(16,23,33,1) 85%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,63,89,1) 0%,rgba(67,95,132,1) 22%,rgba(76,108,153,1) 27%,rgba(76,108,153,1) 46%,rgba(72,102,140,1) 65%,rgba(16,23,33,1) 85%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(44,63,89,1) 0%,rgba(67,95,132,1) 22%,rgba(76,108,153,1) 27%,rgba(76,108,153,1) 46%,rgba(72,102,140,1) 65%,rgba(16,23,33,1) 85%,rgba(0,0,0,1) 100%); /* W3C */
	color: #ddd;
	font-size: 15px;
	font-weight: 900;
	padding: 6px;
	text-align: center;
}
.layout_nav ul li
{	text-align: center;
	padding: 5px;
}
.layout_nav a
{	font-size: 60px;
	color: #666;
	text-decoration: none !important;
}
.layout_nav a:before
{	font-family: icomoon;
	text-decoration: none !important;

}
.layout_nav a:hover
{
	color: #337;
}
.layout_contenido
{	
	vertical-align: top;
	border-left: 0px;
	border-right: 0px;
	height       :auto;
	overflow     : auto;
	margin: 0 auto;
	background: rgba(255,255,255,0.9);
	padding: 25px 4%;
	position: absolute;
	width: auto;
	top: 43px;
	left: 150px;
	right: 0px;
	bottom: 30px;
}
.layout_contenido table,div
{
	margin: 0 auto; 
	width: auto;
}
.layout_contenido_inicial
{
	vertical-align: top;
	border-left: 0px;
	border-right: 0px;
	height       :auto;
	overflow     : auto;
	margin: 0 auto;
	background: rgba(255,255,255,0.9);
	padding: 25px 50px;
	position: absolute;
	width: auto;
	top: 43px;
	left: 0px;
	right: 0px;
	bottom: 30px;
}
.layout_footer
{
background: #324664; /* Old browsers */
background: -moz-linear-gradient(top,  #324664 0%, #3f587d 11%, #47648e 21%, #3e587d 32%, #374d6c 39%, #101721 68%, #05070b 79%, #000000 86%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#324664), color-stop(11%,#3f587d), color-stop(21%,#47648e), color-stop(32%,#3e587d), color-stop(39%,#374d6c), color-stop(68%,#101721), color-stop(79%,#05070b), color-stop(86%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #324664 0%,#3f587d 11%,#47648e 21%,#3e587d 32%,#374d6c 39%,#101721 68%,#05070b 79%,#000000 86%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324664', endColorstr='#000000',GradientType=0 );
color        :rgba(255,255,255,1);
min-height       :30px;
height       :30px;
text-align   :center;
line-height  :30px;
clear        :both !important;
margin       :0px auto;
position: absolute;
bottom:0px;
width: 100%;
z-index: 2;
}

.documento
{
	margin: auto;
}
div[class='input select']
{
	padding: 5px;
	background: #324664;
}
select
{
	background: transparent;
	color: #000;
	border: 1px solid #324664;
	font-size: 14px !important;
}
select option
{	
	color: #000;
}
select option:hover
{	
	background-color: #324664!important;
	color: #ddd!important;
}
/* codigos iconos */
.icon-group:before {
	content: "\e600";
}
.icon-user-md:before {
	content: "\e604";
}
.icon-youtube:before {
	content: "\e60a";
}
.icon-file-settings:before {
	content: "\e601";
}
.icon-library:before {
	content: "\e602";
}
.icon-calendar:before {
	content: "\e603";
}
.icon-minus:before {
	content: "\e606";
}
.icon-cancel:before {
	content: "\e607";
}
.icon-checkmark:before {
	content: "\e608";
}
.icon-suitcase:before {
	content: "\e609";
}
.icon-cloudy:before {
	content: "\e60b";
}
.icon-auction:before {
	content: "\e60d";
}
.icon-stats:before {
	content: "\e60c";
}
.icon-facebook2:before {
	content: "\e610";
}
.icon-github:before {
	content: "\e611";
}
.icon-twitter:before {
	content: "\e612";
}
.icon-batman:before {
	content: "\e60f";
}
.icon-earth:before {
	content: "\e613";
}