/* CSS Document */

.programa_items_agregar
{
	display: inline;

}
.estandar
{
	border: 2px solid #10083c;
	margin: 2 auto;
	padding: 5px;
	width: 500px;
}
.pna_div_agr
{
	opacity: 1;
	border: solid 1px #246;
	height: 15px;
}
.pna_ipt_agr
{
	opacity: 1;
	height: 15px;
	width: 80px;
}
/*.select,input{
font-size: 0.95em;	
height: 25px;
width: 210px;
}*/
textarea{
	width: 210px;
	height: 100px;
}
input[type="submit"]{
	width: auto;
}